* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #F9FAF8;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn {
    padding: 8px 14px;
    border-radius: 8px;
    width: 125px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
}

.sign-up-dark {
    border: 0;
}

.sign-up-light {
    border: 1px solid #F9FAF8;
}

/* Header Section */
header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.logo {
    padding-left: 250px;
}

.left-links {
    padding-right: 250px;
}

.left-links ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.left-links a {
    color: #aaa;    
    font-size: 18px;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

/* Hero Section */
.hero {
    background: #1F2937;
    padding: 72px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.left {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.right {
    background: #666;
    width: 550px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

/* Information Section */
h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* Quote Section */
.quote-section {
    background: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

/* CTA Section */
.cta {
    background: #3882F6;
}

/* Footer Section */
footer {
    background: #1F2937;
}

/* Button */
button {
    background: #3882F6;;
}